
__pycache__/funcionesAlgoritmo.cpython-37.pyc
__pycache__/paletaCaracteres.cpython-37.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
__pycache__/funcionesAlgoritmo.cpython-37.pyc
__pycache__/inoutFile.cpython-37.pyc
__pycache__/paletaCaracteres.cpython-37.pyc
__pycache__/validaciones.cpython-37.pyc
*.pyc
*.pyc
*.pyc
